h1{
    text-align: Center;
    Color: Black;
    text-decoration: underline;
    Background-color: White;
}

h2{
    text-align: Center;
    text-decoration: underline wavy;
    text-decoration-color: red;
    color: navy ;
}
p{
    font-size: 15px;
    background-color: lightgrey;
}

ul{
    color:red;
    font-size: 17px;
}
ol{
    color:black;
    font-size:17px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .J{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;

  }
.row {
    text-align: center;
}

a:hover{
    color: red;
}
#yes{
    text-align: center;
}
body {
    background-color: lightblue;
  }
